* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainDark: #242325;
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  /*padding-top: 66px;*/
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.btn-primary{
  letter-spacing: var(--mainSpacing)!important;
  background: var(--primaryColor)!important;
  color: var(--mainBlack)!important;
  padding: 0.4rem 0.9rem !important;
  border: 3px solid var(--primaryColor)!important;
  transition: var(--mainTransition);
}
.btn-primary:hover{
  background: transparent!important;
  color: var(--primaryColor)!important;
}



/* navbar */
.navbar{
  background:var(--mainDark)!important;
}

/* banner*/
.banner{
  background: url("./images/defaultBcg.jpeg")center/cover no-repeat fixed;
  min-height: calc(100vh - 63px);
  padding: 2rem 1rem;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
}
.banner-content{
  background: rgba(0, 0, 0, 0.5);
}
.banner-content h1{
  font-size: 2.5rem;
}
.banner-content div{
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner-content p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px){
  .banner-content{
    padding: 2rem 3rem;
  }
  .banner-content h1{
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px){
  .banner-content{
    padding: 2rem 6rem;
  }
  .banner-content h1{
    font-size: 4rem;
  }
}
